  .wrap {
    width: 100%;
    height: 100%;
    padding-top: 18px;
    
  }

  .form-field {
    width: 100%;
  }

  .button-wrap {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }